* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container {
   width: 1140px;
   margin: 0 auto;
 
}

a {
   text-decoration: none;
}

li,
ul {
   list-style: none;
}

.wrapper .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.wrapper-list {
   display: flex;
   align-items: center;
}

.wrapper-item {
   padding: 0px 20px;
}

.wrapper-link {
   color: rgb(38, 50, 56);
   font-size: 16px;
   font-weight: 500;
   padding-top: 20px;
   transition: 0.5s;
}

.wrapper-link:hover {
   color: rgb(50, 50, 190);
   transition: 0.5s;
}

.wrapper-btn {
   box-sizing: border-box;
   border: 2px solid rgb(38, 50, 56);
   border-radius: 5px;
   color: rgb(0, 0, 0);
   font-size: 18px;
   font-weight: 400;
   line-height: 27px;
   width: 160px;
   height: 50px;
   transition: 0.5s;
}

.wrapper-btn:hover {
   color: white;
   background: rgb(38, 50, 56);
   transition: 0.5s;
}

.language .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.language-list {
   display: flex;
   align-items: center;
}

.language-title {
   color: rgb(0, 0, 0);
   font-size: 64px;
   font-weight: 600;
   line-height: 70px;
   width: 386px;
   height: 240px;
}

.language-text {
   color: rgb(143, 149, 165);
   font-size: 24px;
   font-weight: 400;
   line-height: 36px;
}

.language-btn {
   border-radius: 15px;
   background: rgb(38, 50, 56);
   color: rgb(255, 255, 255);
   font-size: 36px;
   font-weight: 400;
   width: 358px;
   height: 98px;
   margin-top: 30px;
}
.about-title{
   color: rgb(0, 0, 0);
   font-family: Poppins;
   font-size: 48px;
   font-weight: 600;
   line-height: 80px;
   letter-spacing: 0%;
   text-align: left;
}
.about-text{
   color: rgb(143, 149, 165);
   font-family: Poppins;
   font-size: 20px;
   font-weight: 400;
   line-height: 30px;
   letter-spacing: 0%;
   text-align: left;
}
.about-subtitle{
   color: rgb(42, 50, 70);
   font-family: Poppins;
   font-size: 42px;
   font-weight: 600;
   line-height: 80px;
   text-align: center;
}
.about-subtext{
   color: rgb(143, 149, 165);
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.about .container{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.about-header{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.priking-title{
   color: rgb(0, 0, 0);
font-size: 48px;
font-weight: 600;
line-height: 80px;
text-align: center;
}
.priking-subtitle{
   color: rgb(38, 50, 56);
font-size: 30px;
font-weight: 600;
line-height: 48px;
height: 58px;
}
.priking-text{
   color: rgb(143, 149, 165);
font-size: 15px;
font-weight: 300;
line-height: 30px;
width: 335px;
height: 100px;

}
.priking-subtext{
   color: rgb(143, 149, 165);
font-size: 15px;
font-weight: 300;
line-height: 30px;
width: 335px;
height: 90px;
padding: 6px 10px;
}
.priking-desc{
   color: rgb(38, 50, 56);
font-size: 30px;
font-weight: 400;
line-height: 45px;
}
.priking-sublist{
   display: flex;
   border-radius: 5px;
   width: 240px;
   height: 45px;
background: rgb(238, 238, 238);
padding-left: 20px;
}
.priking-header{
   display:flex;
   justify-content: space-between;
   align-items: center;
}
.priking-img{
   width: 311px;
height: 311px;
}
.contact-title{
   color: rgb(0, 0, 0);
font-size: 48px;
font-weight: 600;
line-height: 80px;
}
.contact-text{
   color: rgb(143, 149, 165);
font-size: 20px;
font-weight: 400;
line-height: 30px;
width: 546px;
height: 100px;
}
.contact input{
   box-sizing: border-box;
border: 1px solid rgb(143, 149, 165);
border-radius: 10px;
color: rgb(143, 149, 165);
font-size: 16px;
font-weight: 400;
line-height: 24px;
width: 300px;
height: 70px;
padding-left: 30px;
}
.contact-btn{
   border-radius: 10px;
background: rgb(38, 50, 56);
width: 244px;
height: 70px;
color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 500;
line-height: 30px;
margin-left: 20px;
}
.contact .container{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.contact-img{
   width: 427px;
height: 409px;
}
.footer-img{
   width: 106px;
height: 54px;
margin-top: 40px;
}
.footer-text{
   margin-top: 10px;
   background: rgb(196, 196, 196);
   width: 1140px;
   height: 3px;
}
.footer-link{
   color: rgb(143, 149, 165);
font-size: 24px;
font-weight: 400;
line-height: 36px;
padding-left: 43%;

}

@media(max-width: 1200px) {
   .container {
      width: auto;
   }

   .language-img {
      width: 501px;
      height: 661px;
   }
}

@media(max-width: 1000px) {
   .wrapper-item {
      padding: 0px 15px;
      padding-top: 20px;
   }

   .wrapper-btn {
      width: 150px;
      height: 45px;
   }

   .wrapper-img {
      width: 89px;
      height: 35px;
   }

   .wrapper-link {
      font-size: 16px;
   }

   .language-img {
      width: 352px;
      height: 352px;
   }

   .language-title {
      font-size: 48px;
      width: 290px;
      height: 192px;
      line-height: 60px;

   }

   .language-text {
      font-size: 24px;
   }

   .language-btn {
      width: 236px;
      height: 65px;
      font-size: 18px;
   }

   .language-png {
      width: 48.48px;
      height: 58.71px;
   }
   .priking-title{
     font-size: 36px;
   }
   .priking-subtitle{
      font-size: 22px;
      height: 44px;
   }
   .priking-text{
      font-size: 16px;
      width: 280px;
      height: 92px;
   
   }
   .priking-subtext{
      font-size: 16px;
      padding: 7px 10px;
   }
   .priking-desc{
     font-size: 24px;
   }
   .priking-sublist{
      display: flex;
      border-radius: 5px;
      width: 210px;
      height: 45px;
   background: rgb(238, 238, 238);
   padding-left: 20px;
   }
   .priking-img{
      width: 199.5px;
      height: 198.66px;
   }
   .contact-title{
   font-size: 36px;
   line-height: 80px;
   }
   .contact-text{
   font-size: 16px;
   line-height: 30px;
   width: 546px;
   height: 100px;
   }
   .contact input{
   font-size: 14px;
   font-weight: 400;
   line-height: 24px;
   width: 300px;
   height: 60px;
   padding-left: 30px;
   }
   .contact-btn{
      border-radius: 10px;
   background: rgb(38, 50, 56);
   width: 193px;
   height: 60px;
   font-size: 20px;
   line-height: 30px;
   margin-left: 20px;
   }
   .contact-img{
      width: 312px;
      height: 281px;
   }
   .footer-img{
      width: 106px;
   height: 54px;
   margin-top: 40px;
   }
   .footer-text{
      width: 889px;
   }
   .footer-link{
   width: 816px;
   font-size: 18px;
   line-height: 36px;
   padding-left: 43%;
   }
}

@media(max-width: 900px) {
   .wrapper .container {
      background-image: url("./img/Group\ 28.png");
      background-repeat: no-repeat;
      background-position: top 50% left 100%;
   }

   .wrapper-btn {
      display: none;
   }

   .wrapper-img {
      width: 89px;
      height: 35px;
   }

   .wrapper-link {
      display: none;
   }

   .language-img {
      width: 501px;
      height: 661px;
   }

   .language-title {
      font-size: 36px;
      width: 217px;
      height: 135px;
      line-height: 45px;

   }

   .language-text {
      font-size: 20px;
   }

   .language-btn {
      width: 292px;
      height: 80px;
      font-size: 24px;
   }

   .language-png {
      width: 48.48px;
      height: 58.71px;
   }
   .priking-title{
      font-size: 36px;
    }
    .priking-subtitle{
       font-size: 20px;
       width: 174px;
height: 56px;
line-height: 28px;
    }
    .priking-text{
       font-size: 14px;
       width: 250px;
       height: 92px;
    
    }
    .priking-subtext{
       font-size: 16px;
       padding: 7px 10px;
    }
    .priking-desc{
      font-size: 22px;
    }
    .priking-sublist{
       display: flex;
       border-radius: 5px;
       width: 205px;
       height: 45px;
    background: rgb(238, 238, 238);
    padding-left: 20px;
    }
    .priking-img{
      width: 197px;
      height: 197px;
    }
      .contact input{
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      width: 250px;
      height: 60px;
      padding-left: 30px;
      }
      .footer-img{
         width: 89px;
         height: 45px;
      margin-top: 40px;
      }
      .footer-text{
         width: 690px;
      }
      .footer-link{
         width: 406px;
      font-size: 15px;
      line-height: 36px;
      }
     
}

@media(max-width: 800px) {
   .wrapper .container {
      background-image: url("./img/Group\ 28.png");
      background-repeat: no-repeat;
      background-position: top 50% left 100%;
   }

   .wrapper-btn {
      display: none;
   }

   .wrapper-img {
      width: 79px;
      height: 30px;
   }

   .wrapper-link {
      display: none;
   }

   .language-img {
      width: 471px;
      height: 661px;
   }

   .language-title {
      font-size: 36px;
      width: 217px;
      height: 135px;
      line-height: 45px;

   }

   .language-text {
      font-size: 20px;
      line-height: 33px;
      padding-top: 20px;
   }

   .language-btn {
      width: 292px;
      height: 80px;
      font-size: 24px;
   }

   .language-png {
      width: 48.48px;
      height: 58.71px;
   }
   .about-title{
      font-size: 30px;
   }
   .about-text{
      font-size: 14px;
      width: 321px;
      height: 210px;
   }
   .about-subtitle{
    font-size: 22px;
    line-height: 40px;
   }
   .about-subtext{
    font-size: 14px;

   }
   .about-img{
      width: 280px;
      height: 280px;
   }
   .priking-title{
      font-size: 36px;
    }
    .priking-subtitle{
       font-size: 20px;
       width: 174px;
height: 56px;
line-height: 28px;
    }
    .priking-text{
       font-size: 14px;
       width: 240px;
       height: 92px;
    
    }
    .priking-subtext{
       font-size: 16px;
       padding: 7px 10px;
    }
    .priking-desc{
      font-size: 22px;
    }
    .priking-sublist{
       display: flex;
       border-radius: 5px;
       width: 205px;
       height: 45px;
    background: rgb(238, 238, 238);
    padding-left: 20px;
    }
    .priking-img{
      width: 197px;
      height: 197px;
    }
    .contact-title{
      font-size: 30px;
      line-height: 80px;
      }
      .contact-text{
      font-size: 14px;
      line-height: 21px;
      width: 356px;
      height: 100px;
      }
      .contact input{
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      width: 200px;
      height: 50px;
      padding-left: 10px;
      }
      .contact-btn{
         border-radius: 10px;
      background: rgb(38, 50, 56);
      width: 135px;
      height: 50px;
      font-size: 20px;
      line-height: 30px;
      margin-left: 20px;
      }
      .contact-img{
         width: 233px;
        height: 210px;
      }
}

@media(max-width: 750px) {
   .wrapper .container {
      background-image: url("./img/Group\ 28.png");
      background-repeat: no-repeat;
      background-position: top 50% left 100%;
   }

   .wrapper-btn {
      display: none;
   }

   .wrapper-img {
      width: 79px;
      height: 30px;
   }

   .wrapper-link {
      display: none;
   }

   .language-img {
      width: 361px;
      height: 561px;
   }

   .language-title {
      font-size: 30px;
      width: 197px;
      height: 105px;
      line-height: 38px;

   }

   .language-text {
      font-size: 18px;
      line-height: 24px;
      padding-top: 20px;
   }

   .language-btn {
      width: 202px;
      height: 70px;
      font-size: 20px;
   }

   .language-png {
      width: 48.48px;
      height: 58.71px;
   }
   .priking-title{
      font-size: 36px;
    }
    .priking-subtitle{
       font-size: 24px;
       width: 298px;
      height: 48px;
line-height: 28px;
text-align: center;
    }
    .priking-text{
       font-size: 14px;
       width: 320px;
       height: 92px;
       padding-left: 30px;
    
    }
    .priking-subtext{
       font-size: 16px;
       padding: 7px 10px;
    }
    .priking-desc{
      font-size: 22px;
    }
    .priking-sublist{
       display: flex;
       border-radius: 5px;
       width: 205px;
       height: 45px;
    background: rgb(238, 238, 238);
    padding-left: 20px;
    margin-left: 50px;
    }
    .priking-img{
      width: 291px;
     height: 301px;
     padding-left: 20px;
    }
    .priking-header{
      display: flex;
      flex-direction: column;
      
    }
    .footer-img{
      width: 89px;
      height: 35px;
   margin-top: 40px;
   }
   .footer-text{
      width: 510px;
   }
   .footer-link{
      width: 256px;
   font-size: 11px;
   line-height: 36px;
   }
}

@media(max-width: 600px) {
   .wrapper .container {
      background-image: url("./img/Group\ 28.png");
      background-repeat: no-repeat;
      background-position: top 50% left 100%;
   }

   .wrapper-btn {
      display: none;
   }

   .wrapper-img {
      width: 69px;
      height: 30px;
   }

   .wrapper-link {
      display: none;
   }

   .language-img {
      width: 424px;
      height: 424px;
   }

   .language-title {
      width: 491px;
      height: 40px;
      font-size: 27px;
      text-align: center;
   }

   .language-text {
      width: 402px;
      font-size: 16px;
      text-align: center;
      padding-left: 80px;
   }

   .language-btn {
      width: 305px;
      height: 75px;
      font-size: 18px;
      margin-left: 90px;
   }

   .language-png {
      display: none;
   }

   .language .container {
      display: flex;
      justify-content: center;

      flex-wrap: wrap-reverse;
   }
   .about-title{
      font-size: 30px;
      text-align: center;
   }
   .about-text{
      font-size: 14px;
      width: auto;
      height: 147px;
      text-align: center;
      padding-left: 0px;
   }
   .about-subtitle{
      font-size: 24px;
    line-height: 40px;
   }
   .about-subtext{
    font-size: 14px;

   }
   .about-img{
      width: 352px;
      height: 352px;

   }
   .about .container{
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap-reverse;
      
   }
   .about-header{
      display: flex;
      justify-content: space-around;
      
   }
   .contact-title{
      font-size: 30px;
      line-height: 80px;
      text-align: center;
      }
      .contact-text{
      font-size: 16px;
      line-height: 24px;
      width: 356px;
      height: 100px;
      text-align: center;
      padding-left: 60px;
      }
      .contact input{
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      width: 230px;
      height: 60px;
      padding-left: 10px;
      }
      .contact-btn{
         border-radius: 10px;
      background: rgb(38, 50, 56);
      width: 135px;
      height: 60px;
      font-size: 20px;
      line-height: 30px;
      }
      .contact-img{
         width: 358px;
         height: 322px;
      }
      .contact .container{
         display: flex;
         flex-direction: column;
      }
      .footer-img{
         width: 89px;
         height: 35px;
      margin-top: 40px;
      }
      .footer-text{
         width: 310px;
         text-align: center;
      }
      .footer-link{
         width: 306px;
      font-size: 11px;
      line-height: 36px;
      text-align: center;
      }
      .footer .contact{
         display: flex;
         flex-direction: column;
      }

}

@media(max-width: 400px) {
   .wrapper .container {
      background-image: url("./img/Group\ 28.png");
      background-repeat: no-repeat;
      background-position: top 50% left 100%;
   }

   .wrapper-btn {
      display: none;
   }

   .wrapper-img {
      width: 59px;
      height: 30px;
   }

   .wrapper-link {
      display: none;
   }

   .language-img {
      width: 299px;
      height: 299px;
   }

   .language-title {
      width: 220px;
      height: 72px;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
      padding-left: 60px;

   }

   .language-text {
      width: 222px;
      height: 33px;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      padding-top: 30px;

   }

   .language-btn {
      width: 289px;
      height: 60px;
      font-size: 16px;
      margin-left: 0px;
      margin-top: 40%;
   }

   .language-png {
      display: none;
   }

   .language .container {
      display: flex;
      justify-content: center;

      flex-wrap: wrap-reverse;
   }
   .about-title{
      font-size: 30px;
      text-align: center;
   }
   .about-text{
      font-size: 13px;
      width: auto;
      height: 147px;
      text-align: center;
      line-height: 20px;
   }
   .about-subtitle{
      font-size: 24px;
    line-height: 40px;
   }
   .about-subtext{
    font-size: 14px;

   }
   .about-img{
      width: 283px;
      height: 283px;

   }
   .about .container{
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap-reverse;
      
   }
   .about-header{
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      
   }
   .contact-title{
      font-size: 30px;
      line-height: 80px;
      text-align: center;
      }
      .contact-text{
      font-size: 16px;
      line-height: 22px;
      width: 306px;
      height: 100px;
      text-align: center;
      padding-left: 20px;
      }
      .contact input{
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      width: 291px;
      height: 50px;
      padding-left: 10px;
      margin-left: 10px;
      }
      .contact-btn{
      border-radius: 10px;
      background: rgb(38, 50, 56);
      width: 291px;
      height: 50px;
      font-size: 21px;
      line-height: 30px;
      margin-left: 10px;
      margin-top: 20px;
      }
      .contact-img{
         width: 236.57px;
            height: 210.76px;
      }
      .form{
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
      }
}